.header {
    background: url(../images/dienteLeon.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
  }
  .header .navbar {
    background-color: transparent !important;
  }

  .lateral {

    background-color: #861657;
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color:  rgba(72, 113, 248, 0.068);
  }

  h1,h2,h3,h4,h5,h6{
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .estilo
  {
    font-family: 'Exmouth', sans-serif;
    font-size: 70px;

  }

  